<style>
.slinputtext input {
    padding: 0px;
    width: 40%;
     height: 20px;
    padding-left: 31px;
    padding-right: 30px;
    color: black;
    font-family: arial,sans-serif;
    font-size: 12px;
}

#tablenodata {
    text-align: center;
    font-size: 15px;
    background: #b2b3a6;
    width: 68%; 
.ui-datepicker-calendar {
    display: none;
    }
    
    

	 p.ext {
    margin-left: 2cm;
}
     /* div.box {
		height: 320px;
		width: 650px;
		border: 1px  ;
		align: center;
		background: #ddd;
		padding: 0px 0;
		 top: 20%;
  		bottom: 30%;
  		left: 0%;
  		right: 0%;
  		margin-left: 0px;
  		margin-right: 0px;
  		overflow-x: none;
  		overflow-y: none;
  		
		 
 
	} */
	[tooltip]:before {
    /* needed - do not touch */
    content: attr(tooltip);
    position: absolute;
    opacity: 0;
    
    /* customizable */
    transition: all 0.15s ease;
    padding: 10px;
    color: #333;
    border-radius: 10px;
    box-shadow: 2px 2px 1px silver;    
}

[tooltip]:hover:before {
    /* needed - do not touch */
    opacity: 1;
    
    /* customizable */
    background: yellow;
    margin-top: -50px;
    margin-left: 20px;    
}

#test{
    padding: 7px;
   
}


element.style {
    width: 150px;
}

.textbox_multi {
    height: 25px;
    width: 20px border: 1px solid #00ffff;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.btn {
    display: inline-block;
    padding: 1px 3px;
    }

</style>
<!-- <script>
function myFunction() {
    var checkBox = document.getElementById("userStatus");
    
    if (userStatus == true){
        text2.style.display = "block";
        text1.style.display = "none";
    } else if(userStatus == false){
    	text1.style.display = "block";
      	 text2.style.display = "none";
    }
}
</script> -->
<div ng-controller="loginController" ng-init="init()">
	<div class="overall" >
		<nav class="navbar">

			<ul>
                         
                           <li><span  class="divider"></span></li> 
                           
                           
                           <li >
                                  <a ng-if="user.data.admin==true" ui-sref="activityTrackAdmin" >Master Task List</a> 
                                  
                           </li>
                           <li ><span ng-if="user.data.admin==true"   class="divider"></span></li>
                           
                           <li>
                                  <a  ui-sref="activityTrackUser" >Task Timer</a> 
                                  
                           </li>
                          <li><span ng-if="user.data.admin==true" class="divider"></span></li>
                           <li >
                                  <a  ng-if="user.data.admin==true" ui-sref="monitoring"  ui-sref-opts="{reload:true}" >Active Time</a> 
                                  
                           </li>
                           <li><span  class="divider"></span></li>
                           <li >
                                  <a  ui-sref="reports" ui-sref-opts="{reload:true}" >Reports</a> 
                                  
                           </li>
                           <li><span  class="divider"></span></li>
                           <li >
                                  <a  ng-if="user.data.admin==true"  ui-sref="empSettings" >Employee Settings</a> 
                                  
                           </li>
                        <li ><span ng-if="user.data.admin==true" class="divider"></span></li>
                        
                           <li >
                                  <a  ng-if="user.data.admin==true"  ui-sref="uploadEmpData" >Upload Employee Details</a> 
                                  
                           </li>
                           <li ><span  ng-if="user.data.admin==true"  class="divider"></span></li>
                     </ul>


		</nav>
	</div>
</div>
<div ng-controller="activityTrackUserController" ng-init="init()">

	<div> <h3  style="font-size:16px; color:#960;" align="left">Task Timer</h3></div>

	 <div>
		<div>
			<div class="bs-component">
				<form name='myform'>
					<div>
						<div class="slinputtext ">
	  						 	<!-- <i class="fa fa-search left-icon"></i>  -->
							    <input class="pull-left textbox" required ng-model="search" placeholder="Enter search term"  /> 
							   <!--  <i class="fa fa-close right-icon" ng-click="resetParent()"></i> -->
						</div>
						<div class="col-sm-10 pull-right">
							<label for="search">Record(s) per page</label> 
								<input type="number"	min="1" max="100" class="textboxNumber" ng-model="pageSize">
								<a uisref="{{'.'}}"
										onClick="$('#parentId').tableExport({tableName:'TaskTimer',type:'excel',escape:'false'});">
											<img src='./export/images/xls.png' width='24px'>
									</a>
								
						
						</div>
						
						
					</div>
				</form>
			</div>
		</div>

		<table class="table" id="parentId" style="width:68%">
			<thead>
				<tr>
					<th ng-click="sort('activityName')" style="width:15%">Activity Name <span	class="glyphicon sort-icon"	ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
					<th ng-click="sort('activityStatus')" style="width:15%">Activity Status <span	class="glyphicon sort-icon"	ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
					<th ng-click="sort('activityStartTime')" style="width:15%">Start Time <span	class="glyphicon sort-icon"	ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
					<th ng-click="sort('activityEndTime')" style="width:15%">End Time <span	class="glyphicon sort-icon"	ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
					<th ng-click="sort('activityTotTime')" style="width:10%">Total Time <span	class="glyphicon sort-icon"	ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
					<th style="width:5%">Actions </th>
				</tr>
			</thead>
			<tbody>
				<tr ng-class-odd="ClassOdd($index)"  ng-class-even="ClassEven($index)"
					dir-paginate="obj in filtered= ( userActivityList | filter:search)| orderBy:sortKey:reverse |itemsPerPage:pageSize"
					 >
						<td align="left">&nbsp;{{obj.activityName}}</td>
						<td align="left">&nbsp;{{obj.activityStatus}}</td>
     					<td align="left">&nbsp;&nbsp;{{obj.activityStartTime|date:'yyyy-MM-dd HH:mm:ss'}}</td>
						<td align="left">&nbsp;&nbsp;{{obj.activityEndTime|date:'yyyy-MM-dd HH:mm:ss'}}</td>  
						<td align="left">&nbsp;&nbsp;{{obj.activityTotTime|date: 'HH:mm:ss'}}</td> 
     					
     					<td class="pull-middle">
     					<a ng-click="startTask(obj.id)">
											<img src='./app/images/Play_32x32.png' width='24px'> </a>
  			
  			<a ng-click="stopTask(obj.id)" ng-show="obj.activityStatus!='Not Started'">
											<img src='./app/images/Stop_32x32.png' width='24px'> </a>
  			
  			<!--  	<button type="submit" class="btn btn-primary" ng-click = "startTask(obj.id)">Start</button>
  				 <button type="submit" class="btn btn-danger" ng-click = "stopTask(obj.id)">Stop</button> -->
		   			 
					</td>
				</tr>
			</tbody>
		</table>
		
		
			<div class=" pull-left" >
			 	<dir-pagination-controls
			       max-size="5"
			       direction-links="true"
			       boundary-links="true" >
	   			 </dir-pagination-controls>
	   			
			</div>
			<div  class="col-sm-10 pull-right" ng-show="userActivityList !='undefined' && userActivityList.length>=0" class="pull-right">Filtered : ({{ filtered.length }})
							record(s) out of ({{userActivityList.length }}) entries
			</div>
		
			
		
</div> 

<div id="tablenodata"
			ng-show=" userActivityList =='null'||  userActivityList =='undefined' || userActivityList.length==0">
			<div>No Record Found.</div>

		</div>

   <div class="box" >
   	<div class="main" >
   		<form class="form-horizontal" >
		 	
			<div class="form-group" >
				
				<div class="col-sm-12">
				
					<div style="width:25%;float:left" align="left">
						<label class="pull-left" style="padding-top:5px;padding-bottom:0px" >Available</label>					
						<input class="pull-left textbox_multi" style="width: 240px" required ng-model="search1" placeholder="Enter search term"  /> 
						<select size="10"   multiple ng-model="userRole" ng-options="role as role.activityName for role in allActivity | filter:search1" style="width: 240px"></select>         
					</div>
					
					
					<!-- <div style="width:25%;float:left" align="left">
					<div style="padding-top:5px;padding-bottom:0px" > <label class="pull-left" >Available</label> </div>
					<div style="padding-top:5px;padding-bottom:0px" >						
						<input class="pull-left textbox_multi" style="width: 240px" required ng-model="search1" placeholder="Enter search term"  /> 
					</div>
					<div style="padding-top:5px;padding-bottom:0px" >	
						<select size="10"   multiple ng-model="userRole" ng-options="role as role.activityName for role in allActivity | filter:search1" style="width: 250px"></select>         
					</div>
					</div> -->
			 		
			 		<div style="width:5%;float:left;padding-top:90px;padding-right:50px" align="center">
			 			<div>
			 			<a  class="btn btn-info btn-lg" ng-click="moveItem(userRole, allActivity,userActivity)" style="width:25px; height:20px;display:block;padding:0px">
				        	  <span class="glyphicon glyphicon-arrow-right" ></span> 
				        </a>
				        </div>
				        <div style="padding-top:20px">
			 			<a  class="btn btn-info btn-lg" ng-click="moveItem(userSelectedRole,userActivity, allActivity)" style="width:25px; height:20px;display:block;padding:0px">
				        	  <span class="glyphicon glyphicon-arrow-left" ></span> 
				        </a>
				        </div>
			 		</div>
			 				
			 		<div style="width:24%;float:left;padding-top:5px;" align="left">
			 			<label class="pull-left" >Selected</label>	
			 			<input class="pull-left textbox_multi" style="width: 240px" required ng-model="search2" placeholder="Enter search term"  />
			 			<select size="10" multiple ng-model="userSelectedRole" ng-options="userRole as userRole.activityName for userRole in userActivity| filter:search2" style="width: 240px"></select>
   					</div>	
				</div>
			
				
			</div>
						
   			<div class="pull-left">
   				 <button type="submit" class="btn btn-primary" ng-click = "Reset()">Reset</button>
   				 <button type="submit" class="btn btn-success" ng-click = "userActivityConfig()">Submit</button>
			</div>
   		 </form>
   	
	</div> 
   </div>
   
   <div id="confirmation-dialog">
      <div class="modal fade confirmation-dialog" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">{{confirmationDialogConfig.title}}</h4>
            </div>
            <div class="modal-body">
              <div class="span5">{{confirmationDialogConfig.message +"  User: "+confirmationDialogConfig.userName}}</div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="button" ng-repeat="button in confirmationDialogConfig.buttons" ng-click="confirmUserDelete(confirmationDialogConfig.id)" class="btn btn-primary">{{button.label}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    
</div>
<script>  function generatePdf(tableId) {
        var doc = new jsPDF('l', 'pt', 'a4');
        // doc.text("From HTML", 40, 50);
         //doc.text( 40, 50);
         var res = doc.autoTableHtmlToJson(document.getElementById(tableId));
         doc.autoTable(res.columns, res.data, {
           startY: 60
         });
          doc.save();
    }
</script>
