<style>
.slinputtext input {
    padding: 0px;
    width: 40%;
     height: 20px;
    padding-left: 31px;
    padding-right: 30px;
    color: black;
    font-family: arial,sans-serif;
    font-size: 12px;
}
element.style {
    width: 150px;
}
.ui-datepicker-calendar {
    display: none;
    }

	 p.ext {
    margin-left: 2cm;
}
     div.box {
		height: 180px;
		width: 450px;
		border: 2px  ;
		align: center;
		background: #ddd;
		padding: 0px 0;
		 top: 20%;
  		bottom: 30%;
  		left: 0%;
  		right: 0%;
  		margin-left: 0px;
  		margin-right: 0px;
  		overflow-x: hidden;
  		overflow-y: scroll;
  		
		 
 
	}
	[tooltip]:before {
    /* needed - do not touch */
    content: attr(tooltip);
    position: absolute;
    opacity: 0;
    
    /* customizable */
    transition: all 0.15s ease;
    padding: 10px;
    color: #333;
    border-radius: 10px;
    box-shadow: 2px 2px 1px silver;    
}

[tooltip]:hover:before {
    /* needed - do not touch */
    opacity: 1;
    
    /* customizable */
    background: yellow;
    margin-top: -50px;
    margin-left: 20px;    
}

#test{
    padding: 7px;
   
}


</style>
<!-- <script>
function myFunction() {
    var checkBox = document.getElementById("userStatus");
    
    if (userStatus == true){
        text2.style.display = "block";
        text1.style.display = "none";
    } else if(userStatus == false){
    	text1.style.display = "block";
      	 text2.style.display = "none";
    }
}
</script> -->


<div ng-controller="loginController" ng-init="init()">
	<div class="overall" >
		<nav class="navbar">

			<ul>
                         
                           <li><span  class="divider"></span></li> 
                           
                           
                           <li >
                                  <a ng-if="user.data.admin==true" ui-sref="activityTrackAdmin" >Master Task List</a> 
                                  
                           </li>
                           <li ><span ng-if="user.data.admin==true"   class="divider"></span></li>
                           
                           <li>
                                  <a  ui-sref="home" >Task Timer</a> 
                                  
                           </li>
                          <li><span ng-if="user.data.admin==true" class="divider"></span></li>
                           <li >
                                  <a  ng-if="user.data.admin==true" ui-sref="monitoring"  ui-sref-opts="{reload:true}" >Active Time</a> 
                                  
                           </li>
                           <li><span  class="divider"></span></li>
                           <li >
                                  <a  ui-sref="reports" ui-sref-opts="{reload:true}" >Reports</a> 
                                  
                           </li>
                           <li><span  class="divider"></span></li>
                           <li >
                                  <a  ng-if="user.data.admin==true"  ui-sref="empSettings" >Employee Settings</a> 
                                  
                           </li>
                        <li ><span ng-if="user.data.admin==true" class="divider"></span></li>
                        
                           <li >
                                  <a  ng-if="user.data.admin==true"  ui-sref="uploadEmpData" >Upload Employee Details</a> 
                                  
                           </li>
                           <li ><span  ng-if="user.data.admin==true"  class="divider"></span></li>
                     </ul>


		</nav>
	</div>
</div>
<div ng-controller="activityTrackController" ng-init="init()">

	<div> <h3  style="font-size:16px; color:#960;" align="left">Master Task List</h3></div>
	<button type="submit" class="btn btn-primary pull-left" ng-show="showAddActivity" ng-click = "addNewActivity()">Add New Activity</button>
	<div ng-show="updateActivity">
	<div  align="left"> <h1  style="font-size:18px; color:#333;"> Update Activity Name for - {{activityName}}</h1></div>

	<div class="bs-component" ng-show="updateActivity">
		<table class="table" style="height: 100px;width: 300px;">
				<thead>
					<tr>
						<th>Activity Name</th>
						
					</tr>
				</thead>
				<tbody>
					<tr>
						
						<td><input type="text" 	ng-model="selectedActivityDetails.activityName" required/><br><div>&nbsp</div>		 <button type="submit" class="btn btn-primary" ng-click = "Reset()">Reset</button>
   		
   			 
   			 <button type="submit" class="btn btn-success" ng-click = "setUpdatedActDetails(selectedActivityDetails.id,selectedActivityDetails.activityName)">Submit</button>
			 <button type="submit" class="btn btn-warning" ng-click = "Cancel()">Cancel</button>
		</td>
						
			         </tr>
				</tbody>
				
		</table>
			
		<div id="tablenodata"	ng-show=" activityDetails =='null'||  activityDetails =='undefined' ||  activityDetails.length==0">
			<div>No Records Found.</div>
		</div>
		<div>&nbsp</div>
   		

	</div>
</div>
	<div>
<!-- <div ng-hide="addApplication" align="left"> <h1  style="font-size:18px; color:#333;">Add New Application Folder Configuration</h1></div></br> -->
   <div  ng-show="addApplication">
   	<div class="main" id="addAppMapping">  
   
		 <form class="form-horizontal" >
		 	
		 	
			<div class="form-group" >
					
					<div class="col-sm-5" >
						<table cellpadding="0" cellspacing="0">
				            <tr>
				                <th>Activity Name</th>
				                
				                <th></th>
				            </tr>
				            <tbody ng-repeat="m in activityMapping">
				                <tr>
				                    <td><input type="text" placeholder="test" value="{{m}}" readonly /></td>
				                    
				                    <td><button class="remove"  ng-click="Remove($index)">-</button></td>
				                </tr>
				            </tbody>
				            <tfoot>
				                <tr>
				                    <td>  <input type="text"  required ng-model="activityName" placeholder="Enter search term"  /></td>
				                    
				                    <td><input type="button" ng-click="Add()" value="+" /></td>
				                </tr>
				            </tfoot>
			      		 </table>
					</div>	
			</div>
				 <div  class=" pull-left" >
	   			 <button type="submit" class="btn btn-primary" ng-click = "Reset()">Reset</button>
	   			 <button type="submit" class="btn btn-success" ng-click = "activityConfig()">Submit</button>
	   			  <button type="submit" class="btn btn-warning" ng-click = "Cancel()">Cancel</button>
			</div>
			 <!--  <div>&nbsp;</div> -->
   		 </form>
   		</div> 
   		</div>
 </div>
	
	<div>&nbsp;</div>
	<div>
		<div>
			<div class="bs-component">
				<form name='myform'>
					<div>
						<div class="slinputtext "><br>
	  						 	<!-- <i class="fa fa-search left-icon"></i>  -->
							    <input class="pull-left textbox" required ng-model="search" placeholder="Enter search term"  /> 
							   <!--  <i class="fa fa-close right-icon" ng-click="resetParent()"></i> -->
						</div>
						<div class="">
							<label for="search">Record(s) per page</label> 
								<input type="number"	min="1" max="1000" class="textboxNumber" ng-model="pageSize">
						        <a uisref="{{'.'}}"
										onClick="$('#parentId').tableExport({tableName:'MasterTaskList',type:'excel',escape:'false'});">
											<img src='./export/images/xls.png' width='24px'>
									</a>					
						</div>
						
						
					</div>
				</form>
			</div>
		</div>

	<table class="table" id="parentId" style="width:75%">
		<thead>
			<tr>
			    <th >Sl No				
							</th>
				<th ng-click="sort('activityName')">Activity Name
					<span	class="glyphicon sort-icon"	ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				</th>
				<th ng-click="sort('activeIndicator')"> Enable Status
					<span class="glyphicon sort-icon"  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				</th>
				<th ng-click="sort('createdBy')">Created By
					<span class="glyphicon sort-icon"  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				</th>
				<th ng-click="sort('updatedBy')">Updated By
					<span class="glyphicon sort-icon"  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-class-odd="ClassOdd($index)"  ng-class-even="ClassEven($index)"
				dir-paginate="obj in filtered = (allActivities | filter:search) |orderBy:sortKey:reverse | itemsPerPage:pageSize ">
				<td>&nbsp;{{$index+1}}</td>
				<td align="left">&nbsp;{{obj.activityName}}</td>
				<td align="left" class="text-uppercase">&nbsp;{{obj.activeIndicator}}</td>  
				<td align="left">&nbsp;{{obj.createdBy}}</td>
				<td align="left">&nbsp;{{obj.updatedBy}}</td>
				<td class="pull-middle">
					 <!-- <button type="submit" class="btn btn-primary" ng-click = "viewAppDetails(obj.id,obj.activityName)">View</button> -->
  					<!--  <button type="submit" class="btn btn-success" ng-click = "updateActivityDetails(obj.id,obj.activityName)">Update</button>
	 			 	 <button type="submit" class="btn btn-failure" ng-click = "deleteActivityDetails(obj.id,obj.activityName)">Delete</button> -->
					<a ng-click="updateActivityDetails(obj.id,obj.activityName)"> 
						<img src='./app/images/Edit_32x32.png' width='24px'>
					</a>
					<a ng-click="deleteActivityDetails(obj.id,obj.activityName)"> 
						<img src='./app/images/Delete_32x32.png' width='24px'>
					</a>

					</td>
			</tr>
		</tbody>
	</table>
			
	<div>
		<dir-pagination-controls class="pull-left" max-size="5" direction-links="true" boundary-links="true" >
	   	</dir-pagination-controls>
	</div>	 
		<div id="tablenodata" ng-show=" allApplications =='null'||  allApplications =='undefined' ||  allApplications.length==0">
			<div>No Record Found.</div>
		</div>
		<div  class=" pull-right"ng-show="allApplications !='undefined' && allApplications.length>=0" class="pull-right">Filtered : ({{ filtered.length }})
							record(s) out of ({{allApplications.length }}) entries
		</div>
		
</div>
	
	<!-- -------Update Activity Details -->




<div id="confirmation-dialog">
      <div class="modal fade confirmation-dialog" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">{{confirmationDialogConfig.title}}</h4>
            </div>
            <div class="modal-body">
              <div class="span5">{{confirmationDialogConfig.message +"  Activity: "+confirmationDialogConfig.activityName}}</div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="button" ng-repeat="button in confirmationDialogConfig.buttons" ng-click="confirmActivityDelete(confirmationDialogConfig.id)" class="btn btn-primary">{{button.label}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
	
    
</div>

<script>  function generatePdf(tableId) {
        var doc = new jsPDF('l', 'pt', 'a4');
        // doc.text("From HTML", 40, 50);
         //doc.text( 40, 50);
         var res = doc.autoTableHtmlToJson(document.getElementById(tableId));
         doc.autoTable(res.columns, res.data, {
           startY: 60
         });
          doc.save();
    }
</script>