<style>
.slinputtext input {
    padding: 0px;
    width: 40%;
     height: 20px;
    padding-left: 31px;
    padding-right: 30px;
    color: black;
    font-family: arial,sans-serif;
    font-size: 12px;
}
element.style {
    width: 150px;
}
.ui-datepicker-calendar {
    display: none;
    }

	 p.ext {
    margin-left: 2cm;
}
     div.box {
		
		border: 2px  ;
		
  		
		 
 
	}
	[tooltip]:before {
    /* needed - do not touch */
    content: attr(tooltip);
    position: absolute;
    opacity: 0;
    
    /* customizable */
    transition: all 0.15s ease;
    padding: 10px;
    color: #333;
    border-radius: 10px;
    box-shadow: 2px 2px 1px silver;    
}

[tooltip]:hover:before {
    /* needed - do not touch */
    opacity: 1;
    
    /* customizable */
    background: yellow;
    margin-top: -50px;
    margin-left: 20px;    
}

#test{
    padding: 7px;
   
}


</style>
 <script>
function myFunction() {
    var checkBox = document.getElementById("employeeStatus");
    
    if (employeeStatus == true){
        text2.style.display = "block";
        text1.style.display = "none";
    } else if(employeeStatus == false){
    	text1.style.display = "block";
      	 text2.style.display = "none";
    }
}

function myFunctionIsRm() {
    var checkBox = document.getElementById("isReportingManager");
    
    if (isReportingManager == true){
        text2.style.display = "block";
        text1.style.display = "none";
    } else if(isReportingManager == false){
    	text1.style.display = "block";
      	 text2.style.display = "none";
    }
}
function myFunctionIsAdmin() {
    var checkBox = document.getElementById("isAdmin");
    
    if (isAdmin == true){
        text2.style.display = "block";
        text1.style.display = "none";
    } else if(isAdmin == false){
    	text1.style.display = "block";
      	 text2.style.display = "none";
    }
}


</script> 

<div ng-controller="loginController" ng-init="init()">
	<div class="overall" >
		<nav class="navbar">

			<ul>
                         
                           <li><span  class="divider"></span></li> 
                           
                           
                           <li >
                                  <a ng-if="user.data.isAdmin==true" ui-sref="activityTrackAdmin" >Master Task List</a> 
                                  
                           </li>
                           <li ><span ng-if="user.data.isAdmin==true"   class="divider"></span></li>
                           
                           <li>
                                  <a  ui-sref="activityTrackUser" >Task Timer</a> 
                                  
                           </li>
                          <li><span ng-if="user.data.isAdmin==true" class="divider"></span></li>
                           <li >
                                  <a  ng-if="user.data.isAdmin==true" ui-sref="monitoring"  ui-sref-opts="{reload:true}" >Active Time</a> 
                                  
                           </li>
                           <li><span  class="divider"></span></li>
                           <li >
                                  <a  ui-sref="reports" ui-sref-opts="{reload:true}" >Reports</a> 
                                  
                           </li>
                           <li><span  class="divider"></span></li>
                           <li >
                                  <a  ng-if="user.data.isAdmin==true"  ui-sref="empSettings" >Employee Settings</a> 
                                  
                           </li>
                        <li ><span ng-if="user.data.isAdmin==true" class="divider"></span></li>
                        
                           <li >
                                  <a  ng-if="user.data.isAdmin==true"  ui-sref="uploadEmpData" >Upload Employee Details</a> 
                                  
                           </li>
                           <li ><span  ng-if="user.data.isAdmin==true"  class="divider"></span></li>
                     </ul>

		</nav>
	</div>
</div>

<div ng-controller="empSettingsController" ng-init="init()">

	<div> <h3  style="font-size:16px; color:#960;" align="left">Employee Configuration</h3></div>
   <div class="box "  ng-show="employeeCreate" >
   	<div class="main" >
   		<form class="form-horizontal" >
   		<div class="form-group" >
				<div class="control-label col-sm-4"  ><label style="float:left;padding-left:100px;">Email Id</label></div>
				<div class="col-sm-5" tooltip="ex:SSC.ABC@CMA-CGM.COM" align="left">
					<input class="text-uppercase"  type="email" size="35" name="emailId" id="emailId" ng-model="employee.emailId" ng-blur="checkEmployee()"  ng-disabled="inputReadOnly" required />
					<a ng-if="employeeExists" > Email Id Already Exist</a>
				</div>
			</div>
   			<div class="form-group" >
				<div class="control-label col-sm-4"  ><label style="float:left;padding-left:100px;">Employee Id</label></div>
				<div class="col-sm-5" align="left">
					<input   type="number" size="15" name="empId" id="empId" ng-model="employee.empId"  required />
					
				</div>
				
			</div>
		 	
			<div class="form-group" >
			<div class="control-label col-sm-4"  ><label style="float:left;padding-left:100px;">Employee Name</label></div>
				<div class="col-sm-5" tooltip="ex:SSC.ABC" align="left">
					<input class="text-uppercase"  type="text" size="35" name="empName" id="empName" ng-model="employee.empName"   required />
					
				</div></div>
				<div class="form-group" >
				<div class="control-label col-sm-4"  ><label style="float:left;padding-left:100px;">Manager Name</label></div>
				<div class="col-sm-5" tooltip="ex:SSC.ABC" align="left">
						<input class="text-uppercase" type="text" size="35" name="rmName" id="rmName" ng-model="employee.rmName"  required />
					
				</div></div>
				<div class="form-group" >
				<div class="control-label col-sm-4"  ><label style="float:left;padding-left:100px;">Manager Id</label></div>
				<div class="col-sm-5" tooltip="ex:SSC.ABC@CMA-CGM.COM" align="left">
					<input class="text-uppercase" type="text" size="35" name="rmId" id="rmId" ng-model="employee.rmId"  required />
					
				</div>	
				</div>			
				
			<div class="form-group">
				<div class="control-label col-sm-4" ><label style="float:left;padding-left:100px;">Is Manager</label></div>
				<div class="col-sm-5" align="left">
					<input type="checkbox" id="isReportingManager" ng-model="employee.isRm" onclick="myFunctionIsRm()" ng-checked="{{employee.isRm}}" >
				</div>
				<!-- <div class="col-sm-4"  align="right" ><p align="left">(Check the box to enable User)</p></div> -->
			</div>
			<div class="form-group">
				<div class="control-label col-sm-4" ><label style="float:left;padding-left:100px;">Is Active</label></div>
				<div class="col-sm-5" align="left">
					<input type="checkbox" id="employeeStatus" ng-model="employee.activeIndicator" onclick="myFunction()" ng-checked="{{employee.activeIndicator}}" >
				</div>
				<!-- <div class="col-sm-4"  align="right" ><p align="left">(Check the box to enable User)</p></div> -->
			</div>
			<div class="form-group">
				<div class="control-label col-sm-4" ><label style="float:left;padding-left:100px;">Is Admin</label></div>
				<div class="col-sm-5" align="left">
					<input type="checkbox" id="isAdmin" ng-model="employee.isAdmin" onclick="myFunctionIsAdmin()" ng-checked="{{employee.isAdmin}}" >
				</div>
				<!-- <div class="col-sm-4"  align="right" ><p align="left">(Check the box to enable User)</p></div> -->
			</div>
				
		
				
			
			
			
   			<div class="pull-middle">
   				 <button type="submit" class="btn btn-primary" ng-click = "Reset()">Reset</button>
   				 <button type="submit" class="btn btn-success" ng-click = "employeeConfig(employee)">Submit</button>
   				  <button type="submit" class="btn btn-warning" ng-click = "Cancel()">Cancel</button>
			</div>
   		 </form>
   	
	</div> 
   </div>
   <div>&nbsp</div>
	<div>
			<div>
			<div class="bs-component">
				<form name='myform'>
					<div>
						<div class="slinputtext ">
	  						 	<!-- <i class="fa fa-search left-icon"></i>  -->
							    <input class="pull-left textbox" required ng-model="search" placeholder="Enter search term"  /> 
							   <!--  <i class="fa fa-close right-icon" ng-click="resetParent()"></i> -->
						</div>
						<div class="col-xs-5 pull-right">
							<label for="search">Record(s) per page</label> 
								<input type="number"	min="1" max="100" class="textboxNumber" ng-model="pageSize">
								<button class="btn btn-warning btn-sm dropdown-toggle"	data-toggle="dropdown">
									<i class="fa fa-bars"></i> Export
								</button>
								<ul class="dropdown-menu " role="menu">
									<li class="divider"></li>
									<li><a uisref="{{'.'}}"
										onClick="generatePdf('parentId');">
											<img src='./export/images/pdf.png' width='24px'> PDF
									</a></li>
									<li><a uisref="{{'.'}}"
										onClick="$('#parentId').tableExport({tableName:'BatchHistory',type:'doc',escape:'false'});">
											<img src='./export/images/word.png' width='24px'> Word
									</a></li>
									<li class="divider"></li>
									<li><a uisref="{{'.'}}"
										onClick="$('#parentId').tableExport({tableName:'BatchHistory',type:'csv',escape:'false'});">
											<img src='./export/images/csv.png' width='24px'> CSV
									</a></li>
									<li><a uisref="{{'.'}}"
										onClick="$('#parentId').tableExport({tableName:'BatchHistory',type:'excel',escape:'false'});">
											<img src='./export/images/xls.png' width='24px'> XLS
									</a></li>
								</ul>
						
						</div>
						
						
					</div>
				</form>
			</div>
		</div>
		
		<table class="table" id="parentId" >
			<thead>
				<tr>
					<th ng-click="sort('empName')">Employee Name <span	class="glyphicon sort-icon"	ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
					<th ng-click="sort('emailId')">Email Id
					<span class="glyphicon sort-icon"  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
					<th ng-click="sort('empId')">Employee Id
					<span class="glyphicon sort-icon"  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
					<th ng-click="sort('rmName')">Manager Name
					<span class="glyphicon sort-icon"  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
					<th ng-click="sort('rmId')">Manager Id
					<span class="glyphicon sort-icon"  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
					<th ng-click="sort('isRm')">Is Manager<span class="glyphicon sort-icon"  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
					<th ng-click="sort('activeIndicator')">Is Active<span class="glyphicon sort-icon"  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
					
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-class-odd="ClassOdd($index)"  ng-class-even="ClassEven($index)"
					dir-paginate="obj in filtered= ( allEmployeeDetails | filter:search)| orderBy:sortKey:reverse |itemsPerPage:pageSize"
					 >
					 
						<td align="left">{{obj.empName}}</td>
						<td align="left" class="text-uppercase">{{obj.emailId}}</td> 
     					<td align="left" >{{obj.empId}}</td>  
     					<td align="left" class="text-uppercase">{{obj.rmName}}</td>
     					<td align="left"  class="text-uppercase">{{obj.rmId}}</td>
     					<td align="left" class="text-uppercase">{{obj.isRm}}</td>
     					<td align="left" class="text-uppercase">{{obj.activeIndicator}}</td>
     					<td class="pull-middle">
  						 <button type="submit" class="btn btn-primary" ng-click = "employeeUpdate(obj.emailId,'updateEmployee')">Update</button>
		   			 <button type="submit" class="btn btn-failure" ng-click = "employeeDelete(obj.id,obj.empName)">Delete</button>
					</td>
				</tr>
			</tbody>
		</table>
		
		
			<div class=" pull-left" >
			 	<dir-pagination-controls
			       max-size="5"
			       direction-links="true"
			       boundary-links="true" >
	   			 </dir-pagination-controls>
	   			 &nbsp
			</div>
			<div  class="pull-right"ng-show="allEmployeeDetails !='undefined' && allEmployeeDetails.length>=0" class="pull-right">Filtered : ({{ filtered.length }})
							record(s) out of ({{allEmployeeDetails.length }}) entries
			</div>
		
			
		
</div>

<div id="tablenodata"
			ng-show=" allEmployeeDetails =='null'||  allEmployeeDetails =='undefined' ||  allEmployeeDetails.length==0">
			<div>No Record Found.</div>

		</div>


   
   <div id="confirmation-dialog">
      <div class="modal fade confirmation-dialog" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">{{confirmationDialogConfig.title}}</h4>
            </div>
            <div class="modal-body">
              <div class="span5">{{confirmationDialogConfig.message +"  Employee: "+confirmationDialogConfig.empName}}</div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="button" ng-repeat="button in confirmationDialogConfig.buttons" ng-click="confirmEmployeeDelete(confirmationDialogConfig.id)" class="btn btn-primary">{{button.label}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    
</div>

<script>  function generatePdf(tableId) {
        var doc = new jsPDF('l', 'pt', 'a4');
        // doc.text("From HTML", 40, 50);
         //doc.text( 40, 50);
         var res = doc.autoTableHtmlToJson(document.getElementById(tableId));
         doc.autoTable(res.columns, res.data, {
           startY: 60
         });
          doc.save();
    }
</script>