
<style>

.ui-datepicker-calendar {
    display: none;
    }
    body{
    overflow-x: none;
  		overflow-y: none;}

	 p.ext {
    margin-left: 2cm;
}
     div.box {
		height: 90px;
		width: 450px;
		border: 1px  ;
		align: center;
		background: #ddd;
		padding: 0px 0;
		 top: 20%;
  		bottom: 30%;
  		left: 15%;
  		right: 10%;
  		margin-left: 0px;
  		margin-right: 0px;
  		
  		
		 
 
	}
	p.error{
			float:left;
			color:red;
			font-size: 15px;
	
	}
	p.success{
			float:left;
			color:green;
			font-size: 15px;
	
	}

</style>

<script type="text/javascript">
$(function() {
    $('.date-picker').datepicker( {
        changeMonth: true,
        changeYear: true,
        showButtonPanel: false,
        dateFormat: 'MM yy',
        minDate: '-2M',
        maxDate: '-1M',
        onClose: function(dateText, inst) { 
        	$(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
        	
        }
    });
});


</script>

<div ng-controller="loginController" ng-init="init()">
	<div class="overall" >
		<nav class="navbar">

			<ul>
                         
                           <li><span  class="divider"></span></li> 
                           
                           
                           <li >
                                  <a ng-if="user.data.admin==true" ui-sref="activityTrackAdmin" >Master Task List</a> 
                                  
                           </li>
                           <li ><span ng-if="user.data.admin==true"   class="divider"></span></li>
                           
                           <li>
                                <a  ui-sref="home" >Task Timer</a> 
                                  
                           </li>
                          <li><span ng-if="user.data.admin==true" class="divider"></span></li>
                           <li >
                                  <a  ng-if="user.data.admin==true" ui-sref="monitoring"  ui-sref-opts="{reload:true}" >Active Time</a> 
                                  
                           </li>
                           <li><span  class="divider"></span></li>
                           <li >
                                  <a  ui-sref="reports" ui-sref-opts="{reload:true}" >Reports</a> 
                                  
                           </li>
                           <li><span  class="divider"></span></li>
                           <li >
                                  <a  ng-if="user.data.admin==true"  ui-sref="empSettings" >Employee Settings</a> 
                                  
                           </li>
                        <li ><span ng-if="user.data.admin==true" class="divider"></span></li>
                        
                           <li >
                                  <a  ng-if="user.data.admin==true"  ui-sref="uploadEmpData" >Upload Employee Details</a> 
                                  
                           </li>
                           <li ><span  ng-if="user.data.admin==true"  class="divider"></span></li>
                     </ul>


		</nav>
	</div>
</div>
	<div  ng-controller="uploadEmpDataController" ng-init="init()">
   
    <div> <h3  style="font-size:16px; color:#960;">Upload Employee Details</h3></div></br>
    
   <div class="box" class=" pull-center">
  
		<div>&nbsp</div>
  	
	
			
					<div class="col-sm-5">
						<input type="file" file-model="myFile"/>	
					</div>
		
			 <div class="form-group " id="upload"> 
				    <div class="pull-middle">				    	
				    	<button type="submit" class="btn btn-success" ng-click ="doUploadFile()">Upload</button>
				    </div>
				    Please click <a href="./export/template/EMPLOYEE_DATA.xlsx" download>here</a> to download the employee template.
				     <div ng-include="'view/loading.html'" ng-show="dataLoading"></div>
			</div>
	
	</div>
	</div>
