
<div id="main" ng-controller="homeController" ng-init="init()" >
	<div id="header-left">
		<div align="left">
			<img
				style="width: 100px; height: 60px; padding-top: 5px;; padding-left: 10px;"
				alt="logo" src="./app/images/Logo_CMACGM.png" />
		</div>
	</div>
	<div id="header-middle">
		<div align="center">		
			<h1 style="color: white; font-size: 20px;">MyTime</h1>
			<!-- <img style="width: 150px; height: 60px" alt="logo"
				src="./app/images/Logo_AT.png" /> -->
		</div>
	</div>
	<div id="header-right">
		<!--  <div >
			<a
				style="float: right; padding-top: 20px; padding-right: 35px; color: white; font-size: 15px;"
				ng-click="logout()"><i class="fa fa-sign-out" aria-hidden="true"
				style="font-size: 25px; color: #0099CC""></i>Logout</a>
		</div>  -->
		<div
			style="float: left; margin-left: 50px; padding-top: 20px; padding-left: 35px; color: white; font-size: 15px;">{{displayUserName}}  !!</div>
		<div
			style="float: left; padding-top: 20px; padding-right: 10px; padding-left: 35px; color: white; font-size: 15px;">
			<div id="currentdate"></div>
			<div id="currenttime"></div>
		</div>

	</div>
	</div>
	

