<style>
body {
	margin: 0;
	/* background:url('./app/images/mytime.jpg') !important; */
}

.navbar {
	overflow: hidden;
	background-color: #333;
	position: fixed;
	top: 0;
	width: 100%;
}

.navbar a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.main {
	padding: 16px;
	top: 20px;
	margin-top: 60px;
	height: 250px; /* Used in this example to enable scrolling */
}
</style>



<div ng-controller="loginController">
	<div class="inner-bg">
		<div>
			<div class="customRow"></div>
			<div class="row">
			
		
			<br/>
			<br/>
				<div class="col-sm-5 col-sm-offset-2 form-box">
					<div class="form-top">
						<div class="form-top-left">
							<h3>MyTime Login</h3>
							<p>Enter your username and password to log on:</p>
							<h2 ng-bind="uploadResult"></h2>
						</div>

						<div class="form-top-center" >
						<img
				style="width: 100px; height: 60px; padding-top: 5px;; padding-left: 10px;margin-top: 10px;"
				alt="logo" src="./app/images/Logo_CMACGM.png" />
							<!-- <i class="fa fa-lock"></i> -->
						</div>
					</div>

					<div class="form-bottom">
						<form name="form" ng-submit="userLogin()" class="login-form">
							<div class="form-group">
								<label class="sr-only" for="form-username">Username</label> <input
									type="text" name="username" ng-model="username"
									placeholder="Username..." class="form-username form-control"
									id="form-username" required /> <span style="color: #f37b24;"
									ng-show="form.username.$dirty && form.username.$error.required">
									username is required </span>
							</div>
							<div class="form-group">
								<label class="sr-only" for="form-password">Password</label> <input
									type="password" name="password" ng-model="password"
									placeholder="Password..." class="form-password form-control"
									id="form-password" required /> <span style="color: #f37b24;"
									ng-show="form.password.$dirty && form.password.$error.required">
									password is required </span>
							</div>
							<button type="submit" class="form-submit-button pull-right">Sign
								in!</button>
								<br/>
							<div ng-include="'view/loading.html'" ng-show="dataLoading">
						</form>
					</div>
					
					
				</div>
			
			
				
			</div>
			
						<div class="col-sm-6 form-box" style="float: left;display:none;">
			<img
				style="width: 97%; height: 41vh; padding-top: 5px;; padding-left: 10px;"
				alt="logo" src="./app/images/mytime.jpg" />
			</div>

		</div>
	</div>
</div>
