<style>

.ui-datepicker-calendar {
    display: none;
    }

	 p.ext {
    margin-left: 2cm;
}
     div.box {
		height: 380px;
		width: 900px;
		border: 1px  ;
		align: center;
		background: #fbf2b7;
		padding: 50px 0;
		 top: 20%;
  		bottom: 30%;
  		left: 15%;
  		right: 10%;
  		margin-left: 150px;
  		margin-right: 250px;
  		overflow-x: hidden;
  		overflow-y: scroll;
  		
		 
 
	}
	[tooltip]:before {
    /* needed - do not touch */
    content: attr(tooltip);
    position: absolute;
    opacity: 0;
    
    /* customizable */
    transition: all 0.15s ease;
    padding: 10px;
    color: #333;
    border-radius: 10px;
    box-shadow: 2px 2px 1px silver;    
}

[tooltip]:hover:before {
    /* needed - do not touch */
    opacity: 1;
    
    /* customizable */
    background: yellow;
    margin-top: -50px;
    margin-left: 20px;    
}

#test{
    padding: 7px;
   
}
.slinputtext input {
    padding: 0px;
    width: 40%;
     height: 20px;
    padding-left: 31px;
    padding-right: 30px;
    color: black;
    font-family: arial,sans-serif;
    font-size: 12px;
}

</style>
<!-- <script>
function myFunction() {
    var checkBox = document.getElementById("userStatus");
    
    if (userStatus == true){
        text2.style.display = "block";
        text1.style.display = "none";
    } else if(userStatus == false){
    	text1.style.display = "block";
      	 text2.style.display = "none";
    }
}
</script> -->

<div ng-controller="loginController" ng-init="init()">
	<div class="overall" >
		<nav class="navbar">

			<ul>
                         
                           <li><span  class="divider"></span></li> 
                           
                           
                           <li >
                                  <a ng-if="user.data.isAdmin==true" ui-sref="activityTrackAdmin" >Master Task List</a> 
                                  
                           </li>
                           <li ><span ng-if="user.data.isAdmin==true"   class="divider"></span></li>
                           
                           <li>
                                  <a  ui-sref="activityTrackUser" >Task Timer</a> 
                                  
                           </li>
                           <!-- <li><span  class="divider"></span></li>
                           <li >
                                  <a   ui-sref="monitoring" >Active Time</a> 
                                  
                           </li> -->
                           <li><span  class="divider"></span></li>
                           <li >
                                  <a  ui-sref="reports" ui-sref-opts="{reload:true}" >Reports</a> 
                                  
                           </li>
                           <li><span  class="divider"></span></li>
                           <li >
                                  <a  ng-if="user.data.isAdmin==true"  ui-sref="empSettings" >Employee Settings</a> 
                                  
                           </li>
                        <li ><span ng-if="user.data.isAdmin==true" class="divider"></span></li>
                        
                           <li >
                                  <a  ng-if="user.data.isAdmin==true"  ui-sref="uploadEmpData" >Upload Employee Details</a> 
                                  
                           </li>
                           <li ><span  ng-if="user.data.isAdmin==true"  class="divider"></span></li>
                     </ul>

		</nav>
	</div>
</div>
<div ng-controller="monitoringController" ng-init="init()">

	<div> <h3  style="font-size:16px; color:#960;" align="left">Active Time</h3></div>

	 <div>
			<div>
			<div class="bs-component">
				<form name='myform'>
					<div>
						<div class="slinputtext ">
	  						 	<!-- <i class="fa fa-search left-icon"></i>  -->
							    <input class="pull-left textbox" required ng-model="search" placeholder="Enter search term"  /> 
							   <!--  <i class="fa fa-close right-icon" ng-click="resetParent()"></i> -->
						</div>
						<div class="col-xs-5 pull-right">
							<label for="search">Record(s) per page</label> 
								<input type="number"	min="1" max="100" class="textboxNumber" ng-model="pageSize">
								<button class="btn btn-warning btn-sm dropdown-toggle"	data-toggle="dropdown">
									<i class="fa fa-bars"></i> Export
								</button>
								<ul class="dropdown-menu " role="menu">
									<li class="divider"></li>
									<li><a uisref="{{'.'}}"
										onClick="generatePdf('parentId');">
											<img src='./export/images/pdf.png' width='24px'> PDF
									</a></li>
									<li><a uisref="{{'.'}}"
										onClick="$('#parentId').tableExport({tableName:'ActiveTime',type:'doc',escape:'false'});">
											<img src='./export/images/word.png' width='24px'> Word
									</a></li>
									<li class="divider"></li>
									<li><a uisref="{{'.'}}"
										onClick="$('#parentId').tableExport({tableName:'ActiveTime',type:'csv',escape:'false'});">
											<img src='./export/images/csv.png' width='24px'> CSV
									</a></li>
									<li><a uisref="{{'.'}}"
										onClick="$('#parentId').tableExport({tableName:'ActiveTime',type:'excel',escape:'false'});">
											<img src='./export/images/xls.png' width='24px'> XLS
									</a></li>
								</ul>
						
						</div>
						
						
					</div>
				</form>
			</div>
		</div>

		<table class="table" id="parentId">
			<thead>
				<tr>
							<th ng-click="sort('id')">ID
								<span class="glyphicon sort-icon" ng-show="sortKey=='id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
							<th ng-click="sort('user_name')">Employee Name
								<span class="glyphicon sort-icon" ng-show="sortKey=='user_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
							<th ng-click="sort('department')">Department
								<span class="glyphicon sort-icon" ng-show="sortKey=='department'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
							<th ng-click="sort('machine_name')">System Name
								<span class="glyphicon sort-icon" ng-show="sortKey=='machine_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
							<th ng-click="sort('curr_date')">Date
								<span class="glyphicon sort-icon" ng-show="sortKey=='curr_date'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
							<th ng-click="sort('month')">Month
								<span class="glyphicon sort-icon" ng-show="sortKey=='month'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
							<th ng-click="sort('LogonTime')">System LoginTime
								<span class="glyphicon sort-icon" ng-show="sortKey=='LogonTime'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
							<th ng-click="sort('LogoffTime')">System LogoffTime
								<span class="glyphicon sort-icon" ng-show="sortKey=='LogoffTime'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
							<th ng-click="sort('active_time')">Active Time
								<span class="glyphicon sort-icon" ng-show="sortKey=='active_time'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
							<th ng-click="sort('idle_time')">Idle Time
								<span class="glyphicon sort-icon" ng-show="sortKey=='idle_time'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
						</tr>
			</thead>
			<tbody>
				<tr dir-paginate="user in users|orderBy:sortKey:reverse|filter:search|itemsPerPage:pageSize">
							<td>{{user.id}}</td>
							<td>{{user.user_name}}</td>
							<td>{{user.department}}</td>
							<td>{{user.machine_name}}</td>
							<td>{{user.curr_date}}</td>
							<td>{{user.month}}</td>
							<td>{{user.LogonTime}}</td>
							<td>{{user.LogoffTime}}</td>
							<td>{{user.active_time}}</td>
							<td>{{user.idle_time}}</td>
						</tr>
			</tbody>
		</table>
		
		
			<div class=" pull-left" >
			 	<dir-pagination-controls
			       max-size="5"
			       direction-links="true"
			       boundary-links="true" >
	   			 </dir-pagination-controls>
	   			
			</div>
			<div  class="pull-right"ng-show="userActivityList !='undefined' && userActivityList.length>=0" class="pull-right">Filtered : ({{ filtered.length }})
							record(s) out of ({{userActivityList.length }}) entries
			</div>
		
			
		
</div> 

<div id="tablenodata"
			ng-show=" userActivityList =='null'||  userActivityList =='undefined' || userActivityList.length==0">
			<div>No Record Found.</div>

		</div>

   
  
    
</div>

<script>  function generatePdf(tableId) {
        var doc = new jsPDF('l', 'pt', 'a4');
        // doc.text("From HTML", 40, 50);
         //doc.text( 40, 50);
         var res = doc.autoTableHtmlToJson(document.getElementById(tableId));
         doc.autoTable(res.columns, res.data, {
           startY: 60
         });
          doc.save();
    }
</script>