<style>
.slinputtext input {
    padding: 0px;
    width: 40%;
     height: 20px;
    padding-left: 31px;
    padding-right: 30px;
    color: black;
    font-family: arial,sans-serif;
    font-size: 12px;
}
element.style {
    width: 150px;
}
.ui-datepicker-calendar {
    display: none;
    }

	 p.ext {
    margin-left: 2cm;
}
     div.box {
		height: 380px;
		width: 900px;
		border: 1px  ;
		align: center;
		background: #fbf2b7;
		padding: 50px 0;
		 top: 20%;
  		bottom: 30%;
  		left: 15%;
  		right: 10%;
  		margin-left: 150px;
  		margin-right: 250px;
  		overflow-x: hidden;
  		overflow-y: scroll;
  		
		 
 
	}
	[tooltip]:before {
    /* needed - do not touch */
    content: attr(tooltip);
    position: absolute;
    opacity: 0;
    
    /* customizable */
    transition: all 0.15s ease;
    padding: 10px;
    color: #333;
    border-radius: 10px;
    box-shadow: 2px 2px 1px silver;    
}

[tooltip]:hover:before {
    /* needed - do not touch */
    opacity: 1;
    
    /* customizable */
    background: yellow;
    margin-top: -50px;
    margin-left: 20px;    
}

#test{
    padding: 7px;
   
}


</style>
<!-- <script>
function myFunction() {
    var checkBox = document.getElementById("userStatus");
    
    if (userStatus == true){
        text2.style.display = "block";
        text1.style.display = "none";
    } else if(userStatus == false){
    	text1.style.display = "block";
      	 text2.style.display = "none";
    }
}
</script> -->

<div ng-controller="loginController" ng-init="init()">
	<div class="overall" >
		<nav class="navbar">

			<ul>
                         
                           <li><span  class="divider"></span></li> 
                           
                           
                           <li >
                                  <a ng-if="user.data.admin==true" ui-sref="activityTrackAdmin" >Master Task List</a> 
                                  
                           </li>
                           <li ><span ng-if="user.data.admin==true"   class="divider"></span></li>
                           
                           <li>
                                 <a  ui-sref="home" >Task Timer</a> 
                                  
                           </li>
                          <li><span ng-if="user.data.admin==true" class="divider"></span></li>
                           <li >
                                  <a  ng-if="user.data.admin==true" ui-sref="monitoring"  ui-sref-opts="{reload:true}" >Active Time</a> 
                                  
                           </li>
                           <li><span  class="divider"></span></li>
                           <li >
                                  <a  ui-sref="reports" ui-sref-opts="{reload:true}" >Reports</a> 
                                  
                           </li>
                           <li><span  class="divider"></span></li>
                           <li >
                                  <a  ng-if="user.data.admin==true"  ui-sref="empSettings" >Employee Settings</a> 
                                  
                           </li>
                        <li ><span ng-if="user.data.admin==true" class="divider"></span></li>
                        
                           <li >
                                  <a  ng-if="user.data.admin==true"  ui-sref="uploadEmpData" >Upload Employee Details</a> 
                                  
                           </li>
                           <li ><span  ng-if="user.data.admin==true"  class="divider"></span></li>
                     </ul>


		</nav>
	</div>
</div>

<div ng-controller="monitoringController" ng-init="init()">

	<div> <h3  style="font-size:16px; color:#960;" align="left">Active Time</h3></div>

	 <div>
		<div>
			<div class="bs-component">
				<form name='myform'>
					<div>
						<div class="slinputtext ">
	  						 	<!-- <i class="fa fa-search left-icon"></i>  -->
							    <input class="pull-left textbox" required ng-model="search" placeholder="Enter search term"  /> 
							   <!--  <i class="fa fa-close right-icon" ng-click="resetParent()"></i> -->
						</div>
						<div class="col-xs-5 pull-right">
							<label for="search">Record(s) per page</label> 
								<input type="number"	min="1" max="1000" class="textboxNumber" ng-change="pageChanged(usersPerPage)" ng-model="usersPerPage">
								<a uisref="{{'.'}}"
										onClick="$('#parentId').tableExport({tableName:'ActiveTime',type:'excel',escape:'false'});">
											<img src='./export/images/xls.png' width='24px'>
									</a>
								
						</div>
						
						
					</div>
				</form>
			</div>
		</div>

		<table class="table" id="parentId">
			<thead>
				<tr>
							<th >Sl No
								
							</th>
							<th ng-click="sort('empUserName')">Employee Name
								<span class="glyphicon sort-icon"  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
							<th ng-click="sort('machineName')">Machine ID
								<span class="glyphicon sort-icon"  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
							
							<th ng-click="sort('currentDate')"> Current Date
								<span class="glyphicon sort-icon"  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
							<th ng-click="sort('currentMonth')">Month
								<span class="glyphicon sort-icon"  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
							<th ng-click="sort('currentYear')">Year
								<span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
							<th ng-click="sort('logonTime')">System LogonTime
								<span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
							<th ng-click="sort('logoffTime')">System LogoffTime
								<span class="glyphicon sort-icon"ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
							<th ng-click="sort('activeTime')">Active Time
								<span class="glyphicon sort-icon"  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
							<th ng-click="sort('idleTime')">Idle Time
								<span class="glyphicon sort-icon"  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
						</tr>
			</thead>
			<tbody>
				<tr dir-paginate="user in filtered= (  monitorDataList | filter:search)|orderBy:sortKey:reverse|itemsPerPage:usersPerPage "  total-items="totalRecords" current-page="pagination.current">
							<td>&nbsp;{{$index+1}}</td>
							<td align="left">&nbsp;{{user.empUserName}}</td>
							<td align="left">&nbsp;{{user.machineName}}</td>
							
							<td>&nbsp;{{user.currentDate|date:'yyyy-MM-dd'}}</td>
							<td class="text-uppercase">&nbsp;{{user.currentMonth}}</td>
							<td>&nbsp;{{user.currentYear}}</td>
							<td>&nbsp;{{user.logOnTime|date:'yyyy-MM-dd HH:mm:ss'}}</td>
							<td>&nbsp;{{user.logoffTime|date:'yyyy-MM-dd HH:mm:ss'}}</td>
							<td>&nbsp;{{user.activeTime|date:'yyyy-MM-dd HH:mm:ss'}}</td>
							<td>&nbsp;{{user.idleTime}}</td>
						</tr>
			</tbody>
		</table>
		
		
			<div class=" pull-left" >
			 	<dir-pagination-controls  on-page-change="pageChanged(newPageNumber)"
			       max-size="10"
			       direction-links="true"
			       boundary-links="true" >
	   			 </dir-pagination-controls>
	   			 &nbsp
			</div>
			<div  class="pull-right"ng-show="monitorDataList !='undefined' && monitorDataList.length>=0" class="pull-right">Filtered : ({{ filtered.length }})
							record(s) out of ({{totalRecords }}) entries
			</div>
		
			
		
</div> 

<div id="tablenodata"
			ng-show=" monitorDataList =='null'||  monitorDataList =='undefined' || monitorDataList.length==0">
			<div>No Record Found.</div>

		</div>

   
  
    
</div>

