<style>

.ui-datepicker-calendar {
    display: none;
    }

	 p.ext {
    margin-left: 2cm;
}
     div.box {
		height: 80px;
		width: 900px;
		border: 1px  ;
		align: center;
		background: #fbf2b7;
		padding: 50px 0;
		 top: 20%;
  		bottom: 30%;
  		left: 15%;
  		right: 10%;
  		margin-left: 150px;
  		margin-right: 250px;
  		
  		
		 
 
	}
	[tooltip]:before {
    /* needed - do not touch */
    content: attr(tooltip);
    position: absolute;
    opacity: 0;
    
    /* customizable */
    transition: all 0.15s ease;
    padding: 10px;
    color: #333;
    border-radius: 10px;
    box-shadow: 2px 2px 1px silver;    
}

[tooltip]:hover:before {
    /* needed - do not touch */
    opacity: 1;
    
    /* customizable */
    background: yellow;
    margin-top: -50px;
    margin-left: 20px;    
}

#test{
    padding: 7px;
   
}


</style>
<script type="text/javascript">
$(function() {

    var start = moment().subtract(29, 'days');
    var end = moment();

    function cb(start, end) {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + '-' + end.format('MMMM D, YYYY'));
    }

    $('#reportrange').daterangepicker({
        startDate: start,
        endDate: end,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment().startOf('month'), moment().endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);

    cb(start, end);

});
</script>

<div ng-controller="loginController" ng-init="init()">
	<div class="overall" >
		<nav class="navbar">

			<ul>
				<li><a ui-sref="home" ui-sref-opts="{reload:true}">
					<span class="icon fa fa-home"></span>Home</a>
					<span class="divider"></span>
				</li>
				<!-- <li ng-repeat="application in applications">
					<a ui-sref="app({appId: application.id,appName:application.appName})" ui-sref-opts="{reload:true}"	>{{application.appName}}</a>
					<span class="divider"></span>
				</li>
				
				<li ng-repeat="role in roles">
					<a  ng-if="role.roleName=='ROLE_ADMIN' " ui-sref="userSettings" >User Settings</a> 
					
				</li>
				<li><span  class="divider"></span></li>
				<li ng-repeat="role in roles">
					<a  ng-if="role.roleName=='ROLE_ADMIN' " ui-sref="applicationSettings" >Application Settings</a> 
					
				</li>
				<li><span  class="divider"></span></li>
				<li ng-repeat="role in roles">
					<a  ng-if="role.roleName=='ROLE_ADMIN' " ui-sref="jamesWeb" >James Web</a> 
					
				</li>
				<li><span  class="divider"></span></li> -->
								
				<li ng-repeat="role in roles">
					<a  ng-if="role.roleName=='ROLE_ADMIN' " ui-sref="activityTrackAdmin" >ActivityTrack-Admin</a> 
					
				</li>
				<li><span  class="divider"></span></li>
				
				<li ng-repeat="role in roles">
					<a  ng-if="role.roleName=='ROLE_ADMIN' " ui-sref="activityTrackUser" >ActivityTrack-User</a> 
					
				</li>
				<li><span  class="divider"></span></li>
				<li ng-repeat="role in roles">
					<a  ng-if="role.roleName=='ROLE_ADMIN' " ui-sref="monitoring" >Monitoring</a> 
					
				</li>
				<li><span  class="divider"></span></li>
				<li ng-repeat="role in roles">
					<a  ng-if="role.roleName=='ROLE_ADMIN' " ui-sref="reports" ui-sref-opts="{reload:true}" >Reports</a> 
					
				</li>
				<li><span  class="divider"></span></li>
				<li ng-repeat="role in roles">
					<a  ng-if="role.roleName=='ROLE_ADMIN' " ui-sref="empSettings" >Employee Settings</a> 
					
				</li>
			   <li><span  class="divider"></span></li>
				<li ng-repeat="role in roles">
					<a  ng-if="role.roleName=='ROLE_ADMIN' " ui-sref="uploadEmpData" >Upload Employee Details</a> 
					
				</li>
				 <li><span  class="divider"></span></li>
			</ul>
		</nav>
	</div>
</div>
<!-- <div class="control-label col-sm-3" ><label style="float:left;padding-left:20px;"></label></div> -->

<div ng-controller="reportsController" ng-init="init()">
<div> <h1  style="font-size:22px; color:#960;" align="left">Generate Reports</h1></div>

<div>&nbsp</div>
<div class="box" >
   
   		<div style="float:left; padding-right:25px;padding-left:25px" align="left"><label for="startDate">Date Range:</label>	</div>
		<div style="float:left; padding-right:25px;padding-left:25px" align="left">
		
				<input id="reportrange" ng-model="dateRange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
  				  <!-- <i class="fa fa-calendar"></i>&nbsp;
 				  <span></span> <i class="fa fa-caret-down"></i> -->
				</input>
		</div>
						
   		<div style="float:left; padding-right:25px;padding-left:100px" align="left">
   				 <button type="submit" class="btn btn-primary"  ng-click = "getMyReport(dateRange)">My Report</button>
   				 <button type="submit" class="btn btn-primary" ng-show="empdDetailsList.length>0"  ng-click = "getTeamReport(dateRange)">Team Report</button>
		</div>
 
   </div>
   
   <div>&nbsp</div>
   
 <div ng-show=showTable> 
   <div> <h1  style="font-size:22px; color:#960;" align="left">Activity Details</h1></div>
	
	<div>
		<div>
			<div class="bs-component">
				<form name='myform'>
					<div>
						<div class="slinputtext ">
	  						 	<!-- <i class="fa fa-search left-icon"></i>  -->
							    <input class="pull-left textbox" required ng-model="search" placeholder="Enter search term"  /> 
							   <!--  <i class="fa fa-close right-icon" ng-click="resetParent()"></i> -->
						</div>
						<div class=" pull-right">
									<label for="search">Record(s) per page</label> 
										<input type="number"	min="1" max="100" class="textboxNumber" ng-model="pageSize">
						</div>
								
						<div class="col-xs-4 pull-right">
							<!-- <button class="btn btn-link" onClick="$('#parentId').tableExport({tableName:'EmployeeDetail',type:'excel',escape:'false'});">
								<span class="glyphicon glyphicon-share"></span> Export to Excel
							</button> -->
							
							<button class="btn btn-default" onClick="$('#parentId').tableExport({tableName:'EmployeeDetail',type:'excel',escape:'false'});"><span class="glyphicon glyphicon-share"></span> Export to Excel</button>
						</div>
					</div>
				</form>
			</div>
		</div>

	<table class="table" id="parentId">
			<thead>
				<tr>
					<th ng-click="sort('userId')">User Name <span	class="glyphicon sort-icon"	ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
					<th ng-click="sort('activityName')">Activity Name <span	class="glyphicon sort-icon"	ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
					<th ng-click="sort('activityStatus')">Activity Status <span	class="glyphicon sort-icon"	ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
					<th ng-click="sort('activityStartTime')">Start Time <span	class="glyphicon sort-icon"	ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
					<th ng-click="sort('activityEndTime')">End Time <span	class="glyphicon sort-icon"	ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
					<th ng-click="sort('activityTotTime')">Total Time <span	class="glyphicon sort-icon"	ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
					
					
					
				</tr>
			</thead>
			<tbody>
				<tr ng-class-odd="ClassOdd($index)"  ng-class-even="ClassEven($index)"
					dir-paginate="obj in filtered= ( myReportList | filter:search)| orderBy:sortKey:reverse |itemsPerPage:pageSize"
					 >
					 	<td align="left">{{obj.userId}}</td>
						<td align="left">{{obj.activityName}}</td>
						<td align="left">{{obj.activityStatus}}</td>
     					<td align="left">{{obj.activityStartTime|date:'yyyy-MM-dd HH:mm:ss'}}</td>
						<td align="left">{{obj.activityEndTime|date:'yyyy-MM-dd HH:mm:ss'}}</td>  
						<td align="left">{{obj.activityTotTime}}</td> 
     					
				</tr>
			</tbody>
		</table>
			
	<div>
		<dir-pagination-controls class="pull-left" max-size="5" direction-links="true" boundary-links="true" >
	   	</dir-pagination-controls>
	</div>	 
		<div id="tablenodata" ng-show=" myReportList =='null'||  myReportList =='undefined' || myReportList.length==0">
			<div>No Record Found.</div>
		</div>
		<div  class=" pull-right"ng-show="myReportList !='undefined' && myReportList.length>=0" class="pull-right">Filtered : ({{ filtered.length }})
							record(s) out of ({{myReportList.length }}) entries
		</div>
		
</div>
  
    </div>
    
    
</div>

