<style>

.ui-datepicker-calendar {
    display: none;
    }

	 p.ext {
    margin-left: 2cm;
}
     div.box {
		height: 400px;
		width: 800px;
		border: 1px  ;
		align: center;
		background: #fbf2b7;
		padding: 50px 0;
		 top: 20%;
  		bottom: 30%;
  		left: 15%;
  		right: 10%;
  		margin-left: 250px;
  		margin-right: 250px;
  		overflow-x: hidden;
  		overflow-y: scroll;
  		
		 
 
	}
	[tooltip]:before {
    /* needed - do not touch */
    content: attr(tooltip);
    position: absolute;
    opacity: 0;
    
    /* customizable */
    transition: all 0.15s ease;
    padding: 10px;
    color: #333;
    border-radius: 10px;
    box-shadow: 2px 2px 1px silver;    
}

[tooltip]:hover:before {
    /* needed - do not touch */
    opacity: 1;
    
    /* customizable */
    background: yellow;
    margin-top: -50px;
    margin-left: 20px;    
}

#test{
    padding: 7px;
   
}


</style>
<!-- <script>
function myFunction() {
    var checkBox = document.getElementById("userStatus");
    
    if (userStatus == true){
        text2.style.display = "block";
        text1.style.display = "none";
    } else if(userStatus == false){
    	text1.style.display = "block";
      	 text2.style.display = "none";
    }
}
</script> -->

<div ng-controller="loginController" ng-init="init()">
	<div class="overall" >
		<nav class="navbar">

			<ul>
				<li><a ui-sref="home" ui-sref-opts="{reload:true}">
					<span class="icon fa fa-home"></span>Home</a>
					<span class="divider"></span>
				</li>
				<li ng-repeat="application in applications">
					<a ui-sref="app({appId: application.id,appName:application.appName})" ui-sref-opts="{reload:true}"	>{{application.appName}}</a>
					<span class="divider"></span>
				</li>
				
				<!-- <li><a   ui-sref="settings" ><span class="icon fa "></span>Admin Settings</a></li> -->

				<li ng-repeat="role in roles">
					<a  ng-if="role.roleName=='ROLE_ADMIN' " ui-sref="userSettings" >User Settings</a> 
					
				</li>
				<li><span  class="divider"></span></li>
				<li ng-repeat="role in roles">
					<a  ng-if="role.roleName=='ROLE_ADMIN' " ui-sref="applicationSettings" >Application Settings</a> 
					
				</li>
				<li><span  class="divider"></span></li>
			</ul>
		</nav>
	</div>
</div>

<div ng-controller="settingsController" ng-init="init()">

	<div> <h1  style="font-size:22px; color:#960;" align="left">User Access Configuration</h1></div>

	<div>
		<div>
			<div class="bs-component">
				<form name='myform'>
					<div>
						<div class="slinputtext ">
	  						 	<!-- <i class="fa fa-search left-icon"></i>  -->
							    <input class="pull-left textbox" required ng-model="search" placeholder="Enter search term"  /> 
							   <!--  <i class="fa fa-close right-icon" ng-click="resetParent()"></i> -->
						</div>
							
						<div class="pull-right">
								<label for="search">Record(s) per page</label> 
									<input type="number"	min="1" max="100" class="textboxNumber" ng-model="pageSize">
						</div>
							
					</div>
				</form>
			</div>
		</div>

		<table class="table" id="parentId">
			<thead>
				<tr>
					<th ng-click="sort('userName')">User Name <span	class="glyphicon sort-icon"	ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
					<th ng-click="sort('activeIndicator')"> Enable Status
					<span class="glyphicon sort-icon"  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
					<th>Applications</th>
					<th>Roles</th>
					<th>Actions</th>
					
					
				</tr>
			</thead>
			<tbody>
				<tr ng-class-odd="ClassOdd($index)"  ng-class-even="ClassEven($index)"
					dir-paginate="obj in filtered= ( allUserDetails | filter:search)| orderBy:sortKey:reverse |itemsPerPage:pageSize"
					 >
						<td align="left">{{obj.userName}}</td>
     					<td align="left" class="text-uppercase">{{obj.activeIndicator}}</td>  
     					<td align="left">{{obj.appList.join(",")}}</td>
     					<td align="left">{{obj.roleList.join(",")}}</td>
     					<td class="pull-middle">
  						 <button type="submit" class="btn btn-primary" ng-click = "userUpdate(obj.id,'updateUser')">Update</button>
		   			 <button type="submit" class="btn btn-failure" ng-click = "userDelete(obj.id,obj.userName)">Delete</button>
					</td>
				</tr>
			</tbody>
		</table>
		
		
			<div class=" pull-left" >
			 	<dir-pagination-controls
			       max-size="5"
			       direction-links="true"
			       boundary-links="true" >
	   			 </dir-pagination-controls>
	   			 &nbsp
			</div>
			<div  class="pull-right"ng-show="allUserDetails !='undefined' && allUserDetails.length>=0" class="pull-right">Filtered : ({{ filtered.length }})
							record(s) out of ({{allUserDetails.length }}) entries
			</div>
		
			
		
</div>

<div id="tablenodata"
			ng-show=" allUserDetails =='null'||  allUserDetails =='undefined' ||  allUserDetails.length==0">
			<div>No Record Found.</div>

		</div>
		
<div>&nbsp </div>
<div>&nbsp</div>
   <div class="box" >
   	<div class="main" >
   		<form class="form-horizontal" >
		 	<div class="form-group" >
				<div class="control-label col-sm-4"  ><label style="float:left;padding-left:100px;">User Id</label></div>
				<div class="col-sm-5" tooltip="ex:SSC.ABC@CMA-CGM.COM" align="left">
					<input  type="email" size="35" name="userId" id="userId" ng-model="userId" ng-blur="checkUser()"  ng-disabled="inputReadOnly" required />
					
				</div>
				<div><a ng-if="userExists" > User Already Exist</a></div>
			</div>
			<div class="form-group" >
				<div class="control-label col-sm-4" ><label style="float:left;padding-left:100px;">Role Name</label></div>
				<div class="col-sm-5" style="float:left;" align="left">
					<div style="width:40%;float:left" align="left">
						<label align="right">Available</label>
						<select size="5" multiple ng-model="userRole" ng-options="role as role.roleName for role in allRoles" style="width: 120px"></select>         
					</div>
			 		
			 		<div style="width:20%;float:left;padding-top:45px;padding-right:20px;padding-left:20px" align="right">
			 			<div>
			 			<a  class="btn btn-info btn-lg" ng-click="moveItem(userRole, allRoles,userRoles)" style="width:25px; height:20px;display:block;padding:0px">
				        	  <span class="glyphicon glyphicon-arrow-right" ></span> 
				        </a>
				        </div>
				        <div style="padding-top:20px">
			 			<a  class="btn btn-info btn-lg" ng-click="moveItem(userSelectedRole,userRoles, allRoles)" style="width:25px; height:20px;display:block;padding:0px">
				        	  <span class="glyphicon glyphicon-arrow-left" ></span> 
				        </a>
				        </div>
			 		</div>
			 		
			 		<div style="width:40%;float:left" align="left">
			 			<label align="right">Selected</label>
			 			<select size="5" multiple ng-model="userSelectedRole" ng-options="userRole as userRole.roleName for userRole in userRoles" style="width: 120px"></select>
   					</div>	
				</div>
			
				
			</div>
			<div class="form-group" >
				<div class="control-label col-sm-4" ><label style="float:left;padding-left:100px;">Application Name</label></div>
				<div class="col-sm-5" style="float:left;" align="left">
					<div style="width:40%;float:left" align="left">
						<label align="right">Available</label>
						<select size="5" multiple ng-model="availApplication" ng-options="app as app.appName for app in allApplications" style="width: 120px"></select>         
					</div>
			 		
			 		<div style="width:20%;float:left;padding-top:45px;padding-right:20px;padding-left:20px" align="right">
			 			<div>
			 			<a  class="btn btn-info btn-lg" ng-click="moveItem(availApplication, allApplications, userApplications)" style="width:25px; height:20px;display:block;padding:0px">
				        	  <span class="glyphicon glyphicon-arrow-right" ></span> 
				        </a>
				        </div>
				        <div style="padding-top:20px">
			 			<a  class="btn btn-info btn-lg" ng-click="moveItem(selectedApplication,userApplications, allApplications)" style="width:25px; height:20px;display:block;padding:0px">
				        	  <span class="glyphicon glyphicon-arrow-left" ></span> 
				        </a>
				        </div>
			 		</div>
			 		
			 		<div style="width:40%;float:left" align="left">
			 			<label align="right">Selected</label>
			 			<select size="5" multiple ng-model="selectedApplication" ng-options="app as app.appName for app in userApplications" style="width: 120px"></select>
  					</div>	
			   </div>
				
				
			</div>
			<div class="form-group">
				<div class="control-label col-sm-4" ><label style="float:left;padding-left:100px;">User Enable</label></div>
				<div class="col-sm-5" align="left">
					<input type="checkbox" id="userStatus" ng-model="userStatus" onclick="myFunction()" ng-checked="{{userStatus}}" >
				</div>
				<!-- <div class="col-sm-4"  align="right" ><p align="left">(Check the box to enable User)</p></div> -->
			</div>
			
			
			
   			<div class="pull-middle">
   				 <button type="submit" class="btn btn-primary" ng-click = "Reset()">Reset</button>
   				 <button type="submit" class="btn btn-success" ng-click = "userConfig()">Submit</button>
			</div>
   		 </form>
   	
	</div> 
   </div>
   
   <div id="confirmation-dialog">
      <div class="modal fade confirmation-dialog" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">{{confirmationDialogConfig.title}}</h4>
            </div>
            <div class="modal-body">
              <div class="span5">{{confirmationDialogConfig.message +"  User: "+confirmationDialogConfig.userName}}</div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="button" ng-repeat="button in confirmationDialogConfig.buttons" ng-click="confirmUserDelete(confirmationDialogConfig.id)" class="btn btn-primary">{{button.label}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    
</div>

